header.rowflex.align-items--baseline.mar-b-20
    .colflex-2
        h1.logotipo-tex.ir
            a(href='#xxx') Teleport
    nav.colflex-4
        ul.nav.museoSans300
            li
                a(href='#xxx') Cotações
            li
                a(href='#xxx') Clientes
            li
                a(href='#xxx') Acompanhamento
            li
                a(href='#xxx') Relatório
            li
                a(href='#xxx') Financeiro
    form.colflex-2.frm(action='#xxx', method='get')
        .search
            input(type='search', name='q', placeholder='Pesquisa...')
            button.btn.btn__search(type='submit')
                span.icon-search
    .colflex-4.toolbelt.text--right
        a.mar-r-20(href='#xxx')
            span.logotipo-marsh
        a.separador(href='#xxx')
            span.icon-cog
        a(href='#xxx')
            span.icon-headset
        a(href='#xxx')
            span.icon-switch
