header.rowflex.align-items--baseline.mar-b-20.row
    .colflex-3.col-md-3.header__va--center
        h1.logotipo-tex.ir
            a(href='#!/telas') Teleport
    nav.colflex-6.col-md-6.header__va--center
        ul.navg.museoSans300
            li
                a(href='#!/telas') Cotações
            li
                a(href='#!/telas') Clientes
            li
                a(href='#!/telas') Acompanhamento
            li
                a(href='#!/telas') Relatório
            li
                a(href='#!/telas') Financeiro
    //- form.colflex-2.frm(action='#!/telas', method='get')
    //-     .search
    //-         input(type='search', name='q', placeholder='Pesquisa...')
    //-         button.butn.butn__search(type='submit')
    //-             span.icon-search
    .colflex-3.col-md-3.toolbelt.text--right.header__va--center
        a.mar-r-20(href='#!/telas')
            span.logotipo-marsh
        a.separador(href='#!/telas')
            span.icon-cog
        a(href='#!/telas')
            span.icon-headset
        a(href='#!/telas')
            span.icon-switch
