header.rowflex.align-items--baseline.mar-b-20.row
    .colflex-3.col-md-3.header__va--center
        h1.logotipo-tex.ir
            a(href='#!/telas') Teleport
    nav.colflex-6.col-md-6.header__va--center
        ul.navg.museoSans300
            li
                a(href='#!/telas') Cotações
            li
                a(href='#!/telas') Clientes
            li
                a(href='#!/telas') Acompanhamento
            li
                a(href='#!/telas') Relatório
            li
                a(href='#!/telas') Financeiro
    //- form.colflex-2.frm(action='#!/telas', method='get')
    //-     .search
    //-         input(type='search', name='q', placeholder='Pesquisa...')
    //-         button.butn.butn__search(type='submit')
    //-             span.icon-search
    .colflex-3.col-md-3.toolbelt.text--right.header__va--center
        a.mar-r-15(href='#!/telas')
            span.logotipo-marsh
        span.separador
        a.user__profile.hand.mar-l-15.mar-r-5(href='#!/telas')
            img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p100x100/1526669_673906542659505_1529405721_n.jpg" alt="Thiago Lagden Magalhães" srcset="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/t1.0-1/p100x100/1526669_673906542659505_1529405721_n.jpg 2x")
            span.badge(data-container="body",data-toggle="popover", data-placement="bottom", data-content="Aqui vem a notificação") 29
        a(href='#!/telas')
            span.icon-cog
        a(href='#!/telas')
            span.icon-headset
        a(href='#!/telas')
            span.icon-switch
