div.wrapper.pad-t-40.pad-b-40
    include includes/_header
    article.content.pad-20.pad-t-40

       ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.pad-10
                a.icon-location.fs-24(href='#!/telas')
            li.bigger
                ul.navybar.navybar__bread
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.pad-5.pad-l-10
                a.icon-plus.fs-18(href='#!/telas')
            li.pad-5.pad-r-10
                a.icon-filter.fs-18(href='#!/telas')

       ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.pad-10
                a.icon-location.fs-24(href='#!/telas')
            li.bigger
                ul.navybar.navybar__bread
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.divider.pad-l-10
            li.pad-5.pad-l-10
                a.icon-plus.fs-18(href='#!/telas')
            li.pad-5.pad-r-10
                a.icon-filter.fs-18(href='#!/telas')

       ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.pad-10
                a.icon-location.fs-24(href='#!/telas')
            li.divider.pad-r-15
            li.bigger
                ul.navybar.navybar__bread
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.divider.pad-l-10
            li.pad-5.pad-l-10
                a.icon-plus.fs-18(href='#!/telas')
            li.pad-5.pad-r-10
                a.icon-filter.fs-18(href='#!/telas')

       ul.navybar.navybar--fit.navybar__custom.navybar__custom--blue.mar-b-20
            li.pad-10
                a.icon-back(href='#!/telas')
            li.bigger
                ul.navybar.navybar__bread.navybar__bread--blue
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.pad-10
                a.icon-check(href='#!/telas')

        ul.navybar.navybar--fit.navybar__custom.navybar__custom--blue.mar-b-20
            li.pad-10
                a.icon-back(href='#!/telas')
            li.bigger
                ul.navybar.navybar__bread.navybar__bread--blue
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.divider.pad-l-10
            li.pad-10
                a.icon-check(href='#!/telas')

        ul.navybar.navybar--fit.navybar__custom.navybar__custom--blue.mar-b-20
            li.pad-10
                a.icon-back(href='#!/telas')
            li.divider.pad-r-10
            li.bigger
                ul.navybar.navybar__bread.navybar__bread--blue
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.divider.pad-l-10
            li.pad-10
                a.icon-check(href='#!/telas')

        ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.bigger.pad-10
                a(href='#!/telas')
                    b Item de Cálculo
            li.pad-10
                a.icon-plus(href='#!/telas')

        ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.bigger.pad-10
                a(href='#!/telas')
                    b Item de Cálculo
            li.divider.pad-l-10
            li.pad-10
                a.icon-plus(href='#!/telas')

