div.wrapper.pad-t-40.pad-b-40
    include includes/_header
    article.content.pad-20.pad-t-40

        ul.navybar.navybar--fit.navybar__custom.navybar__custom--blue.mar-b-20
            li.pad-10
                a.icon-back(href='#!/telas')
            li.divider.pad-r-10
            li.bigger
                ul.navybar.navybar--bread
                    li
                        a(href='#!/telas')
                            b Cotação de Automóvel
                    li Capa de Cotação de Automóvel
            li.divider.pad-l-10
            li.pad-10
                a.icon-check(href='#!/telas')

        ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.pad-10
                a.icon-back(href='#!/telas')
            li.bigger
                a(href='#!/telas') Link
            li.pad-10
                a.icon-check(href='#!/telas')

