div.wrapper.pad-t-40.pad-b-40
    include includes/_header
    article.content.pad-20

        table.centerTable.text--center
            tbody
                tr
                    td(colspan=4)
                        span.logotipo-marsh
                tr
                    td(colspan=4)
                        span.icon.icon-check.circleFechamento--varia.circleFechamento--check
                        p Proposta transmitida para Liberty
                tr
                    td
                        span.icon.icon-pencil.circleFechamento--varia.txt-color-blue
                        p Confirmação de fechamento
                    td
                        span.icon.icon-envelope-o.circleFechamento--varia.txt-color-blue
                        p Enviar confirmação por e-mail
                    td
                        span.icon.icon-barcode.circleFechamento--varia.txt-color-blue
                        p Boleto bancário
                    td
                        span.icon.icon-file-text-o.circleFechamento--varia.txt-color-blue
                        p Proposta
                tr
                    td(colspan=4)
                        button.btn.btn-primary(type='button') Retornar aos cálculos
