div.wrapper.pad-t-40.pad-b-40
    include includes/_header
    article.content.pad-20.pad-t-40
        ul.nav.nav-pills.mar-b-20
            li.active.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#', role='button')
                    | Atalhos
                    span.caret
                ul.dropdown-menu.dropdown-menu-form(role='menu')
                    li
                        label
                            input.mar-r-5(type='checkbox', value='1', data-toggle='atalhos', data-target='#atalhoAction')
                            | Action
                    li
                        label
                            input.mar-r-5(type='checkbox', value='1', data-toggle='atalhos', data-target='#atalhoOutra')
                            | Outra
                    li
                        label
                            input.mar-r-5(type='checkbox', value='1', data-toggle='atalhos', data-target='#atalhoSinistro')
                            | Sinistros
            li#atalhoAction.hidden
                a(href='#!/telas') Action
            li#atalhoOutra.hidden
                a(href='#!/telas') Outra
            li#atalhoSinistro.hidden
                a(href='#!/telas') Sinistros

        .row
            .col-md-8
                h4.text-primary.mar-b-10 Pendências
                ul.list-group.mar-b-20
                    li.list-group-item
                        span.badge 14
                        | Cotações pendentes
                    li.list-group-item
                        span.badge 3
                        | Segurados com sinistros

                - var titles = ['Por dar entrevista à Playboy, Feliciano pode perder o título de pastor', 'Gramacho: Impresiones de la vida en el vertedero', 'Tu teami prei veri gudi! From birráind, from de léfiti, from de raiti! My equipe pray veri naici.', 'Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.']
                h4.text-primary.mar-b-10 Informativo
                ul#inicialInformativo.list-group
                    li.list-group-item.list-group-item-info
                        span.icon-record.hand.pull-left.mar-r-5
                        a.bl.overflow--hidden(data-toggle='modal', href='/remote.html', data-target='#modal') Item que não foi lido 1
                    li.list-group-item.list-group-item-info
                        span.icon-record.hand.pull-left.mar-r-5
                        a.bl.overflow--hidden(data-toggle='modal', href='/remote.html', data-target='#modal') Item que não foi lido 2
                    each title in titles
                        li.list-group-item
                            span.icon-times.hand.pull-left.mar-r-5(data-remove='informativo')
                            a.bl.overflow--hidden(data-toggle='modal', href='/remote.html', data-target='#modal') #{title}
            .col-md-4
                h4.text-primary.center-block.mar-b-10 Ranking
                hr.mar-b-10
                .nav__ranking.text--center.mar-b-10
                    p.lead.text-info Junho 2014
                    .navs.navs__left.icon-arrow-left.text-info
                    .navs.navs__right.icon-arrow-right.text-info

                table.table.table-hover.mar-b-10
                    thead
                        tr
                            th #
                            th Produtor
                            th Prêmio
                    tbody
                        - for (var x = 1; x < 5; x++)
                            tr
                                td #{x}
                                td John Doe
                                td R$ 10.000,00

//- Modal
#modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Informativo', aria-hidden='true')
    .modal-dialog
        .modal-content

