mixin lista(cols, rows)
    each row in rows
        tr
            each col in cols
                if typeof(row[col]) === 'object'
                    td(data-th='#{col}')
                        each item in row[col]
                            span(class='#{item}')!= '&#32;'
                else
                    td(data-th='#{col}')!= row[col]

div.wrapper.pad-t-40.pad-b-40
    include includes/_header
    article.content.pad-20.pad-t-40
       ul.navybar.navybar--fit.navybar__custom.mar-b-20
            li.pad-10
                a.icon-location.fs-24(href='#!/telas')
            li.bigger
                ul.navybar.navybar__bread
                    li
                        a(href='#!/telas')
                            b Cotações
                    li MultiCálculo Automóveis
            li.pad-5.pad-l-10
                a.icon-plus.fs-18(href='#!/telas')
            li.pad-5.pad-r-10
                a.icon-filter.fs-18(href='#!/telas')

        table.table.table-striped.table--action.rwd-table
            thead
                tr
                    each col in cols
                        th.text--center #{col}
            tbody
                - for (var x = 0; x < 10; x++)
                    +lista(cols, rows)
