mixin lista(cols, rows)
    each row in rows
        tr
            each col in cols
                if typeof(row[col]) === 'object'
                    td(data-th='#{col}')
                        each item in row[col]
                            span(class='#{item}')!= '&#32;'
                else
                    td(data-th='#{col}')!= row[col]

div.wrapper.pad-t-40.pad-b-40
    include includes/_header
    article.content.pad-20.pad-t-40
        .rowflex.lista__header.align-items--baseline.mar-b-20
            .colflex-9.breadcrumb.light.museo__sans-bold
                a(href='#!/telas')
                    span.icon-location
                a(href='#!/telas') Cotações
                a(href='#!/telas') MultiCálculo Automóveis
            .colflex-3.text--right
                a.opts.opts--plus(href='#!/telas')
                    span.icon-plus
                a.opts(href='#!/telas')
                    span.icon-filter
        table.table.table-striped.table--action.rwd-table
            thead
                tr
                    each col in cols
                        th.text--center #{col}
            tbody
                - for (var x = 0; x < 10; x++)
                    +lista(cols, rows)
