.fontSmoothing
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.museoSans300
    @extend .fontSmoothing
    +sans-serif('museo_sans300')

.icon,
[class^="icon-"],
[class*=" icon-"]
    @extend .fontSmoothing
    +sans-serif('teleport')

.icon-refresh:before
    content: "\21"

.icon-tag:before
    content: "\22"

.icon-envelope-o:before
    content: "\23"

.icon-user-login:before
    content: "\24"

.icon-check:before
    content: "\25"

.icon-times:before
    content: "\26"

.icon-power-off:before
    content: "\27"

.icon-trash-o:before
    content: "\28"

.icon-file-o:before
    content: "\29"

.icon-lock:before
    content: "\2a"

.icon-print:before
    content: "\2b"

.icon-plus:before
    content: "\2c"

.icon-minus:before
    content: "\2d"

.icon-filter:before
    content: "\2e"

.icon-copy:before
    content: "\2f"

.icon-envelope:before
    content: "\30"

.icon-file-text-o:before
    content: "\31"

.icon-file:before
    content: "\32"

.icon-file-text:before
    content: "\33"

.icon-clipboard:before
    content: "\34"

.icon-clipboard-check:before
    content: "\35"

.icon-tex:before
    content: "\36"

.icon-headset:before
    content: "\37"

.icon-pencil:before
    content: "\38"

.icon-location:before
    content: "\39"

.icon-flag:before
    content: "\3a"

.icon-bolt:before
    content: "\3b"

.icon-play:before
    content: "\3c"

.icon-pause:before
    content: "\3d"

.icon-record:before
    content: "\3e"

.icon-stop:before
    content: "\3f"

.icon-arrow-left:before
    content: "\40"

.icon-arrow-down:before
    content: "\41"

.icon-arrow-up:before
    content: "\42"

.icon-arrow-right:before
    content: "\43"

.icon-barcode:before
    content: "\44"

.icon-calendar:before
    content: "\45"

.icon-user:before
    content: "\46"

.icon-users:before
    content: "\47"

.icon-search:before
    content: "\48"

.icon-zoomin:before
    content: "\49"

.icon-zoomout:before
    content: "\4a"

.icon-cog:before
    content: "\4b"

.icon-file-pdf:before
    content: "\4c"

.icon-file-zip:before
    content: "\4d"

.icon-file-powerpoint:before
    content: "\4e"
