.fontSmoothing
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.museoSans300
    @extend .fontSmoothing
    +sans-serif('museo_sans300')

.icon,
[class^="icon-"],
[class*=" icon-"]
    @extend .fontSmoothing
    +sans-serif('teleport')

.icon-email:before
    content: "\0021"

.icon-refresh:before
    content: "\0022"

.icon-tag:before
    content: "\0023"

.icon-tag-o:before
    content: "\0024"

.icon-envelope-o:before
    content: "\0025"

.icon-user-login:before
    content: "\0026"

.icon-check:before
    content: "\0027"

.icon-times:before
    content: "\0028"

.icon-power-off:before
    content: "\0029"

.icon-trash-o:before
    content: "\002a"

.icon-file-o:before
    content: "\002b"

.icon-lock:before
    content: "\002c"

.icon-print:before
    content: "\002d"

.icon-plus:before
    content: "\002e"

.icon-minus:before
    content: "\002f"

.icon-filter:before
    content: "\0030"

.icon-copy:before
    content: "\0031"

.icon-envelope:before
    content: "\0032"

.icon-file-text-o:before
    content: "\0033"

.icon-file:before
    content: "\0034"

.icon-file-text:before
    content: "\0035"

.icon-clipboard:before
    content: "\0036"

.icon-clipboard-check:before
    content: "\0037"

.icon-tex:before
    content: "\0038"

.icon-headset:before
    content: "\0039"

.icon-pencil:before
    content: "\003a"

.icon-location:before
    content: "\003b"

.icon-flag:before
    content: "\003c"

.icon-bolt:before
    content: "\003d"

.icon-play:before
    content: "\003e"

.icon-pause:before
    content: "\003f"

.icon-record:before
    content: "\0040"

.icon-stop:before
    content: "\0041"

.icon-arrow-left:before
    content: "\0042"

.icon-arrow-down:before
    content: "\0043"

.icon-arrow-up:before
    content: "\0044"

.icon-arrow-right:before
    content: "\0045"

.icon-barcode:before
    content: "\0046"

.icon-calendar:before
    content: "\0047"

.icon-user:before
    content: "\0048"

.icon-users:before
    content: "\0049"

.icon-search:before
    content: "\004a"

.icon-zoomin:before
    content: "\004b"

.icon-zoomout:before
    content: "\004c"

.icon-cog:before
    content: "\004d"

.icon-file-pdf:before
    content: "\004e"

.icon-file-zip:before
    content: "\004f"

.icon-file-powerpoint:before
    content: "\0050"

