$sizeH: image-height('sprites/logotipo/tex.png')

.header__va--center
    min-height: $sizeH
    line-height: $sizeH

.navg
    list-style: none
    margin-left: 0
    > li
        margin-right: 10px
        &:last
            margin-right: 0
        &,
        > a
            @extend .link--white
            font-size: 0.9em

$lessSearch: 30
.frm
    input[type=search]
        color: $white
        background: transparent
        border: none
        width: 170px - $lessSearch
        cursor: text
        &:focus
            outline: none

.search
    background-color: $gray
    border-radius: 50em
    width: 220px - $lessSearch
    padding: 0 0 0 10px

.butn
    font-weight: bold
    position: relative
    color: $white
    &:focus
        outline: none
    > span
        vertical-align: baseline

.butn__search
    width: 30px
    background: transparent
    border: none
    cursor: pointer

.separador
    position: relative
    &:before
        $h: 28px
        left: -115%
        width: 1px
        height: $h
        top: 50%
        margin-top: -($h / 2)
        margin-left: 10px
        position: absolute
        content: ''
        display: block
        background: $white

.toolbelt
    > a
        @extend .link--white
        font-size: 1.2em
        display: inline-block
        vertical-align: middle
        margin-left: 5px
