.nav__ranking
    position: relative
    > .navs
        position: absolute
        margin: auto
        top: 0
        bottom: 0
        font-size: 1.5em
        cursor: pointer
        &.navs__left
            left: 0

        &.navs__right
            right: 0
