.login
    box-sizing: border-box
    color: $gray
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    width: 480px
    height: 200px
    padding: 20px

.icon-tex--size
    $s: 71px
    width: $s
    height: $s
    &:before
        vertical-align: sub

.circle
    border-radius: 50%
    border: 2px solid $white
    padding: 13px

.frm-login
    @extend .form-inline
    input[type=text],
    input[type=password],
    button
        border-radius: 3px
        &:focus
            outline: none
            box-shadow: none

    input[type=text],
    input[type=password]
        color: $grayLightest
        background-color: $grayDark
        border: none
        cursor: text
        transition: background-color ease 0.25s
        &:focus
            background-color: lighten($grayDark, 10)

.titles
    vertical-align: center
    color: white



@media (max-width: $screen-sm-min)

    .login
        width: 320px
        height: 300px
