// Logotipo
+generate-sprites('logotipo', 'sprites/logotipo/*.png')

// Helpers
%complemento
    display: inline-block
    vertical-align: middle
    padding: 0

[class^="logotipo-"],
[class*=" logotipo-"]
    @extend %complemento