extends layout

block content
    main.wrapper.pad-t-40.pad-b-40
        article.content.pad-20
            h1.mar-b-20 Telas
            hr.mar-b-20
            ul
                li
                    a(href="lista.html") lista
