doctype
html(lang="en")
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name='description', content='TEx Lab')
        meta(name='author', content= 'Thiago Lagden')
        link(rel='shortcut icon', type='image/ico', href='favicon.ico')
        link(rel='stylesheet', type='text/css', href='css/main.prefixer.css')
        //[if lt IE 9]><link rel="stylesheet" type="text/css", href="css/font-ie.css"><![endif]
    title
        | #{title}
        block title
    body
        block content
        block scripts
        script(src="js/util.webFont.js")
        if (prod)
            script(src="js/webApp.build.js")
        else
            script(src="js/lib/require.js", data-main="js/webApp")
