.modal__login
    .modal__login--inside.pad-10
        .text--center.login-header
            h1.logotipo-circle-tex.ir
                a(href='#xxx') Teleport
        form.frm-login(action='#xxx', method='get')
            .frm--group
                label.icon-login-user.icon--label
                input(type='text', name='user', placeholder='Usuário')
            .frm--group
                label.icon-login-key.icon--label
                input(type='password', name='passwd', placeholder='Senha')
            button.btn(type='submit') Iniciar
